# Delphi local files (user-specific info)
*.local
*.identcache

# Delphi history and backups
__history/
*.~*

# Compiled binaries
*.dcu
*.exe
*.dll
*.msi

# MSI local stuff
*.wixobj
*.wixpdb

# VS local stuff
.vs/

# Build temporary directories
/src-x86-x64-Fusix/x64/Release
/src-x86-x64-Fusix/x64/Debug